.item {
  border: none !important;
  border-top: 1px solid var(--primary-color) !important;
}

.item:last-child {
  border-bottom: 1px solid var(--primary-color) !important;
}

.button {
  display: flex !important;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 18px 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  font-weight: 700;
}

.button:focus {
  box-shadow: none;
}

.button:hover {
  opacity: 0.75;
}

.button::after {
  margin-left: auto;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%230091E8' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

.number {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 0.9rem;
}

.title {
  color: var(--primary-color);
  font-size: 1rem;
}

.accordionContent {
  border-top: solid 1px var(--primary-color);
  padding-top: 1rem;
}

.body {
  padding: 0 20px 20px 20px !important;
  color: var(--text-color);
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .number {
    font-size: 1rem;
  }

  .title {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  .number {
    font-size: 1.15rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .body {
    padding: 0 40px 20px 40px !important;
    color: var(--text-color);
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
  .body {
    padding: 0 43px 20px 43px !important;
    color: var(--text-color);
  }
}

@media (min-width: 1800px) {
}
