.intro {
  margin-bottom: 1rem;
}

.intro p {
  font-size: 0.85rem;
  margin-bottom: 15px;
}

.intro p:last-child {
  margin-bottom: 0;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .intro p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
